---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-img flex min-h-screen flex-col items-center bg-[#103141]">
    <div
      class="flex w-full flex-col items-center gap-8 px-4 py-12 md:w-3xl md:gap-12 md:px-0 md:py-20"
    >
      <div class="flex w-full flex-col items-center gap-0">
        <h1 class="font-[Syne] text-2xl font-[800] text-[#EDEBD7] md:text-4xl">
          OBSERVV
        </h1>
        <p
          class="text-center font-['Crimson_Pro'] text-lg text-[#EDEBD7] opacity-75 md:text-2xl"
        >
          The future flies itself.
        </p>
      </div>

      <div class="flex h-full w-full items-center">
        <img
          src="/aircraft-sketch.png"
          alt="aircraft sketch"
          class="h-full w-full"
        />
      </div>
      <div class="w-full">
        <div
          class="flex w-full flex-row rounded-lg border-2 border-dashed border-[#EDEBD7] p-4 text-center"
        >
          <h3 class="font-['Crimson_Pro'] text-lg text-[#EDEBD7] md:text-xl">
            Join us to build the future of autonomous flight. <a
              class="cursor-pointer font-medium underline hover:font-normal hover:opacity-80"
              href="/careers">See open roles.</a
            >
          </h3>
        </div>
      </div>
      <div class="flex w-full flex-col items-center gap-4">
        <div class="flex h-full w-full flex-col items-center gap-1">
          <h4
            class="w-full text-left font-['Crimson_Pro'] text-xl text-[#EDEBD7] md:text-3xl"
          >
            About Us
          </h4>
          <p
            class="w-full text-left font-['Crimson_Text'] text-base text-[#EDEBD7] opacity-75 md:text-lg"
          >
            Observv is an Indian autonomous aircraft manufacturing company
            building cargo planes to connect India's vast geography. We're
            developing 5-10 tonne capacity aircraft that operate from unprepared
            airstrips as short as 500-800 meters, creating a new layer of
            freighter logistics infrastructure across the nation. India competes
            globally in software, pharmaceuticals, and space technology, yet we
            import every commercial aircraft despite having one of the world's
            fastest growing aviation markets. We want to build planes in India.
            We are currently building our PV-01 technology demonstrator, a
            conventional high-wing monoplane with a single turboprop engine. It
            features a large cargo door dimensioned for LD3 containers, fixed
            landing gear for simplified maintenance, and no cockpit
            section—replaced by an aerodynamically optimized nose housing our
            sensor suite and avionics. <br />
            We build machines to move goods through the sky. Our goal is simple:
            make thousands of planes per month, as cheaply and quickly as possible.
            We measure success when autonomous cargo aircraft become the default
            choice for moving high-value goods across distances of 300-1500 km—approximately
            30% of India's domestic freight market. This network will be as fundamental
            to India's infrastructure as the national highway system was in the early
            2000s.
          </p>
        </div>
        <div class="flex h-full w-full flex-col items-center gap-1">
          <h4
            class="w-full text-left font-['Crimson_Pro'] text-xl text-[#EDEBD7] md:text-3xl"
          >
            Our Mission
          </h4>
          <p
            class="w-full text-left font-['Crimson_Text'] text-base text-[#EDEBD7] opacity-75 md:text-lg"
          >
            We build machines to move goods through the sky. Our goal is simple:
            make thousands of planes per month, as cheaply and quickly as
            possible. We measure success when autonomous cargo aircraft become
            the default choice for moving high-value goods across distances of
            300-1500 km—approximately 30% of India's domestic freight market.
            This network will be as fundamental to India's infrastructure as the
            national highway system was in the early 2000s.
          </p>
        </div>
        <div class="flex h-full w-full flex-col items-center gap-2">
          <h4
            class="w-full text-left font-['Crimson_Pro'] text-xl text-[#EDEBD7] md:text-3xl"
          >
            Team
          </h4>
          <div class="flex flex-col items-start gap-2 md:flex-row md:gap-4">
            <img
              src="/founder.png"
              alt="Khushi Mittal"
              class="w-[150px] md:w-[200px] md:self-stretch md:object-cover"
            />
            <div class="flex flex-row items-center gap-3 align-middle"></div>
            <div class="flex w-full flex-col items-start gap-1">
              <div class="flex flex-row gap-2">
                <h4 class="font-['Crimson_Pro'] text-[#EDEBD7] md:text-lg">
                  Khushi Mittal
                </h4>
                <span
                  class="font-['Crimson_Pro'] text-[#EDEBD7] opacity-80 md:text-lg"
                  >&bull;</span
                >
                <h4
                  class="font-['Crimson_Pro'] text-[#EDEBD7] opacity-80 md:text-lg"
                >
                  Founder & CEO
                </h4>
              </div>
              <p
                class="w-full text-left font-['Crimson_Text'] text-base text-[#EDEBD7] opacity-75 md:text-lg"
              >
                She began her journey at the University of Alberta, studying
                computer science and physics with a focus on reinforcement
                learning. She quickly immersed herself in autonomous systems,
                leading university's drone team to a top-three finish in
                international competitions. After a research stint at Stanford
                University, where she explored advanced AI and NLP, she returned
                to India to pursue her passion for aviation. Driven by a
                childhood ambition to build aircraft and explore beyond Earth,
                she founded Observv to redefine the future of autonomous flight.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div
          class="flex w-full flex-row rounded-lg border-2 border-dashed border-[#EDEBD7] p-4 text-center"
        >
          <h3 class="font-['Crimson_Pro'] text-lg text-[#EDEBD7] md:text-xl">
            Join us to build the future of autonomous flight. <a
              class="cursor-pointer font-medium underline hover:font-normal hover:opacity-80"
              href="/careers">See open roles.</a
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .bg-img {
    background-image: url("/background.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
</style>
